@model IEnumerable<Income>
@{
    ViewData["Title"] = "Income";
}

<h2>Income</h2>
<a asp-controller="Home" asp-action="AddIncome">Dodaj przychód</a>

<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>

            <th>Kwota</th>
            <th>Data</th>
            <th>Opis</th>
            <th>Edytuj</th>
            <th>Usun</th>
        </tr>
    </thead>
    <
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Amount</td>
                <td>@p.Datee</td>
                <td>@p.Description</td>
                <td> <a asp-controller="Home" asp-action="UpIncome" asp-route-number="@p.IdI" asp-for="IdI">Edytuj </a></td>
                <td> <a asp-controller="Home" asp-action="DelIncome" asp-route-number="@p.IdI" asp-for="IdI">Usun </a></td>
            </tr>
        }
    </tbody>
</table>

